body {
  background-color: #121212;
  color: #efefef;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #fd8100;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  h1,
  footer {
    font-size: 20px;
  }

  img {
    max-width: 100%;
    min-width: 300px;
    height: auto;
  }
}

::selection {
  background-color: #fd8100;
  color: #121212;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#image {
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 100px #fd8100;
  background-color: #fd8100;
  width: 800px;
  height: 600px;
}

img {
  width: 800px;
  height: 600px;
  border-radius: 10px;
}

.footer {
  margin-top: 50px;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}

a {
  color: #fd8100;
}
