body {
  background-color: #121212;
  color: #efefef;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #fd8100;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#image {
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 100px #fd8100;
  background-color: #fd8100;
  width: 800px;
  height: 600px;
}

img {
  width: 800px;
  height: 600px;
  border-radius: 10px;
}
